:root {
  /* Primary Colors */
  --clr--tomato: hsl(4, 100%, 67%);
  /* Neutral Colors */
  --clr--dark-slate-grey: hsl(234, 29%, 20%);
  --clr--charcoal-grey: hsl(235, 18%, 26%);
  --clr--grey: hsl(231, 7%, 60%);
  --clr--white: hsl(0, 0%, 100%);
}
