@use "../layout/util/" as u;

body {
  font-family: var(--ff--Primary);
  font-size: var(--fs--regular);
  color: var(--clr--dark-slate-grey);
  overflow-y: hidden;
  ul {
    list-style-type: none;
    padding: 0;
  }

  .attribution {
    font-size: 0.7rem;
    text-align: center;
    color: var(--clr--dark-slate-grey);

    a {
      color: var(--clr--tomato);
    }
  }

  @include u.breakpoints(medium) {
    .attribution {
      font-size: 1rem;
      text-align: center;
      color: var(--clr--white);

      a {
        color: var(--clr--tomato);
      }
    }
  }
}
