body {
  font-family: var(--ff--Primary);
  font-size: var(--fs--regular);
  color: var(--clr--dark-slate-grey);
  overflow-y: hidden;
  ul {
    list-style-type: none;
    padding: 0;
  }

  .attribution {
    font-size: 1rem;
    text-align: center;
    color: var(--clr--white);
  }
  .attribution a {
    color: var(--clr--tomato);
  }
}
