@use "../layout/util/" as u;

.container {
  min-height: 100vh;
  display: grid;

  @include u.breakpoints(medium) {
    background-color: var(--clr--charcoal-grey);
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
}
