$breakpoints-up: (
  "medium": 43.75em,
  /* 700px */ "large": 60em,
  /* 960px */ "xlarge": 90em,
  /* 1440p*/
);

@mixin breakpoints($size) {
  @media only screen and (min-width: map-get($breakpoints-up, $size )) {
    @content;
  }
}

@mixin ButtonAndInputStyle {
  padding: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: var(--fw--bold2);
  transition: background-color 0.2s linear;
  button {
    &:hover {
      background-color: var(--clr--tomato);
    }
  }
}
